<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Inicial</title>
  </head>
  <body>
    <h1>Bem Vindo, <%= user.displayName %>!</h1>
    <img src="<%= user.picture %>" alt="picture" />
    <h2>Email: <%= user.email %></h2>
    <a href="http://localhost:<%= port %>/logout">Sair</a>
  </body>
</html>
